server {
    listen {{ nginx_status_listen | default('127.0.0.1') }}:{{ nginx_status_port }};
{% if nginx_status_server_name %}
    server_name {{ nginx_status_server_name }};
{% endif %}
{% if nginx_type == 'plus' %}
    location /{{ nginx_status_path | default('status') }} {
        status on;
{% else %}
    location /{{ nginx_status_path | default('nginx_status') }} {
        stub_status on;
{% endif %}
        access_log {{ nginx_status_log | ternary("on", "off") }};
{% for item in nginx_status_allows %}
        allow {{ item }};
{% endfor %}
{% for item in nginx_status_denies %}
        deny {{ item }};
{% endfor %}
    }
}
